<!DOCTYPE html>
<html lang="ro">
  <head>
    
      <title>Bagsforyou</title>
      
       <meta name="keywords" content="Bags,Genți,Accesorii,Genti de umar,Genti de ocazii,Curele,Bijuterii,Agende">
       <meta name="description" content="BAGS FOR WOMEN">
       <%- include("../fragmente/head") %>    
       <link href="/resurse/CSS/animationBUN.css" rel="stylesheet" type="text/css" /> 
       <link href="/resurse/CSS/animationGalerieStatica.css" rel="stylesheet" type="text/css" /> 
       <link href="/resurse/CSS/print.css" rel="stylesheet" type="text/css" /> 
       
  </head>



  <body id="produsele">
    <div id="watermark"></div>
        
    <%- include("../fragmente/header") %>          
      
    
    <main>
          <button id="schimbare-tema">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>    
          </button>
    <div class="grid-pagina">
        
        <section id="hero1">
          <div class="hero-inner">     
            <p class="ex1"><strong>SEZON NOU</p>
            <p class="ex1">GENȚI NOI</p>
            <p class="ex1">REDUCERI DOAR<time datetime="2021-03-18 00:00"> ASTĂZI DE PESTE 30%</time></p></strong>
          </div>
        </section>
       
        
       <section id="tabel2">
          <h2 id="titluorar">Orar</h2>
            <div id="tabel">
              <table id="tabel-orar">
                <thead>
                  <tr>
                    <th>Perioada</th>
                    <th>Zi</th>
                    <th>Interval</th>
                    <th>Pauza de masa</th>
                  </tr>
                </thead>
                <tbody style="text-align:right">
                  <tr>
                    <td rowspan="5" id="ciudat">Zile lucratoare</td>
                    <td id="ciudatinchis">Luni</td>
                    <td id="ciudat">9:00-22:00</td>
                    <td id="ciudatinchis">13:00-14:00</td>
                  </tr>
                  <tr>
                    <td>Marti</td>
                     <td>9:00-22:00</td>
                     <td>13:00-14:00</td>
                  </tr>
                   <tr>
                    <td>Miercuri</td>
                     <td>9:00-22:00</td>
                     <td>13:00-14:00</td>
                  </tr>
                   <tr>
                    <td>Joi</td>
                     <td>9:00-22:00</td>
                     <td>13:00-14:00</td>
                  </tr>
                   <tr>
                    <td>Vineri</td>
                     <td>9:00-22:00</td>
                     <td>13:00-14:00</td>
                  </tr>
                  <tr>
                    <td rowspan="2" id="ciudat">Weekend</td>
                    <td id="ciudatinchis">Sambata</td>
                     <td id="ciudat">10:00-21:00</td>
                     <td id="ciudatinchis">13:00-14:00</td>
                  </tr>
                   <tr>
                    <td>Duminica</td>
                     <td>10:00-21:00</td>
                      <td>13:00-14:00</td>
                  </tr>
                </tbody>
              </table>
              </div>
         </section>

        <section id="calendar3">
             <h2>  What is Lorem Ipsum?</h2>
                <p>HHHHHHHHHHH Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
               </p>
        </section>


        <section id="anunturi4">
        <h2> Why do we use it?</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.
          </p>
        </section>
       
        <section id="Lutilizator5">
         <h2> Where can I get some?  </h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
              </p>
        </section>
       
        <section id="statistici6">
          <p>Ip-ul tau este: </p>
          <%- locals.ip %>
        </section>


        <section id="dateserver7">
        <h2> Where can I get some?  </h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                      </p>
        </section>
   

        
   
        <section id="zona8">
          <section id="detailss">
                  <details>
                      <summary>Vrei un cod de reducere?	&#128513;  </summary>
                          <ul>
                            <li>SPRING20</li>
                          </ul>
                  </details>
                      
                  <details>
                      <summary>Afla detaliile despre transport!&#128521;</summary>
                          <ul>
                            <li><b>Gratuit</b> pentru comenzi de peste 200 lei</li>
                            <li>2-3 zile lucrătoare</li>
                          </ul>
                  </details>
          </section>
               
          
          <div id="genti">

                    <div class="flexul"> 
                            <div id="flexul1" style="position: relative; left :150px; top:365px;">
                            <a href="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" target="ifr-video">Geanta CHANEL</a> 
                            </div>
                            <div id="flexul2" style="position: relative; left :168px; top:365px;">
                            <a href="//www.youtube.com/embed/yCOY82UdFrw"  target="ifr-video">Geanta LOUIS VUITTON</a>
                           </div>
                    </div>
               
                        <iframe name="ifr-video"  src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" framebroder="0" allow="accelerometer; autoplay;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                   
                </div>
        </section>  
    </div>
    
 <section id="galerie-statica">
  <h2>Galerie</h2>

            <div id="galerie-statica" class="galerieStatica">
             <div class="grid-galerie-statica">
              <% for(let im of locals.imaginile) { %>
                    <figure>
                        <source srcset="<%- im.mic %>" media="(max-width:1024px)"/>
                         <picture><img src="<%- im.mare %>" alt="<%- im.titlu %>"   /> </picture> 
                        <figcaption id="descriere-static"><%- im.descrieree %></figcaption>
                    </figure>
                <% } %>
              </div>
            </div>
  </section>


     

  <section id="galerie-animata">
    <h2>Galerie Animata</h2>
        <div id="div-galerie-animata" class="galerie">
          <% for(let im of locals.imaginile1) { %>
              <figure>
                    <source srcset="<%- im.mic %>" media="(max-width:700px)"/>
                    <img src="<%- im.mare %>" alt="text" id="imagine-animata" /> 
                    <figcaption id="descriere-animata"><%- im.descriere %></figcaption>
              </figure>
              <% } %>
        </div>

  </section>

  <div id="watermark">Andrei<br>Andreea</div>

   <hr>

 
  


</div>
 
     
       <p id="strongg"><strong>Transport GRATUIT la comenzi peste 200 lei!</strong></p>
     <p>
     <a href="https://translate.google.ro/?hl=ro&sl=ro&tl=en&op=translate" target="_blank">Visit W3Schools.com!</a> </p>
       <br><br><br><br>
    <aside>
      <p> ABONEAZA-TE LA NEWSLETTER SI PRIMESTI UN VOUCHER CADOU DE 10%<p>

      <p  id="NEWSLETTER">*Vă rugăm să completati adresa dvs. de e-mail dacă consimțiți să primiți e-mailuri de marketing și sunteți de acord cu Politica noastră de confidențialitate. Vă puteți dezabona oricând. <b>*Reducerea</b> obtinuta pentru abonarea la <i>Newsletter</i> nu se aplica la produsele care fac parte din alte campanii promotionale.</p>
    </aside>
    <br><br><br><br>
  </main>
 
      <%- include("../fragmente/footer") %>   

      <br><br><br>
      <div class="banner">
        Acesta este un proiect scolar!
      </div>

  </body>
</html>
